.contenedor{
    width: 80%;
    color: white;
    position: relative;
    top: 15%;
    margin: auto;
}

.pasos{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pasos h1{
    width: 50%;
    font-size: 6vw;
    background-color: orange;
    color: white;
    border: solid 5px;
    border-color: orange;
    border-radius: 5px;
    
}

.link{
    width: 50%;
    height: 100%;
}

.boton{
    min-width: 50%;
     margin-left: 3%;
    background-color: orange;
    color: white;
    border: solid 5px;
    border-color: orange;
    border-radius: 10px;
    animation: brillo 2s linear infinite ;
}

.boton_link{
    min-width: 100%;
     margin-left: 3%;
    background-color: orange;
    color: white;
    border: solid 5px;
    border-color: orange;
    border-radius: 10px;
    animation: brillo 2s linear infinite ;
}





.img{
    width: 100%;
    height: 100%;
    max-height: 70vh;
}


@keyframes brillo {
    0% { transform: scale(1.0); color: orange; background-color: white; }
    50% {transform: scale(1.01); background-color: rgb(255, 189, 67); color: rgb(255, 184, 53);}
    100% { transform: scale(1.0); color: orange; background-color: white;}
}


@media (max-width: 768px) {
    .pasos{
        display: flex;
        flex-direction: column;
    }

    .pasos h1{
        width: 100%;
    }

    .boton{
        width: 100%;
        margin-left: 0px;
        margin-top: 10%;
    }
    .boton_link{
        width: 100%;
        margin-left: 0px;
        margin-top: 10%;
    }

    .link{
        width: 100%;
    }
}
