.reporte{
    width: 90%;
    min-height: 400px;
    background-color: rgb(255, 255, 255);
    border: solid 2px;
    border-color: orange;
    border-radius: 5px;
    position: relative;
    left: 5%;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 10%;
}


.contenedor{
    margin: auto;
    margin-top: 5%;
}

.libro{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    border-left:  solid 2px;
    border-right:  solid 2px;
    border-color: orange;
    text-decoration: underline;
}

.icons{
    width: 10vw;
    height: 10vh;
    color:orange;
}

.dato{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    position: relative;
    left: 10%;
    text-align:left;
}

.dato h1{
    width: 100%;
    font-size: 3vw;
}

.img{
    width: 70%;
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}

.pag{
    width: 50%;
    border-left:  solid 2px;
    border-right:  solid 2px;
    border-color: orange
}

.boton{
    width: 100%;
    margin-top: 5%;
    background-color: white;
    border: solid 2px;
    border-color: orange;
    border-radius: 5px;
}

.boton:hover{
    transform: scale(1.02);
        background-color: orange;
        transition-duration: 0.2s;
        cursor: pointer;
        color: rgb(0, 0, 0);
}


@media (max-width: 768px) {
    .libro{
        display: flex;
        flex-direction: column;
    }
    .pag{width: 100%;}
    .dato h1{
        width: 100%;
        font-size: 5vw;
    }
}