.reporte{
    width: 90%;
    height: 100%;
    min-height: 600px;
    background-color: white;
    border: solid 2px;
    border-color: orange;
    border-radius: 5px;
    position: relative;
    left: 5%;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 10%;
}


.contenedor{
    margin: auto;
    margin-top: 5%;
}

.libro{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    border-left:  solid 2px;
    border-right:  solid 2px;
    border-color: orange;
    text-decoration: underline;
}

.icons{
    width: 70px;
    height: 70px;
    color:orange;
}

.dato{
    display: flex;
    flex-direction: row;
    height: 90px;
    position: relative;
    left: 10%;
}

.img{
    width: 70%;
}

.pag{
    width: 50%;
    align-items:end;
    border-left:  solid 2px;
    border-right:  solid 2px;
    border-color: orange
}

.boton{
    width: 100%;
    margin-top: 5%;
    background-color: white;
    border: solid 2px;
    border-color: orange;
    border-radius: 5px;
}

.boton:hover{
    transform: scale(1.02);
        background-color: orange;
        transition-duration: 0.2s;
        cursor: pointer;
        color: rgb(0, 0, 0);
}