.contenedor{
    position: absolute;
    top: 20%;
    left: 19%;
    width: 60%;
    height: 60%;
   
    
}

@keyframes giro {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.img{
    animation: giro 1.5s linear infinite;
    width: 100%;
    height: 100%; 
    color: rgb(184, 184, 184);
}


