.contenedor{
    min-width: 300px;
    width: 90%;
    height: 100%;
    min-height: 500px;
    height: fit-content;
    position: absolute;
    top:10%;
    margin: auto;
    border: solid 1px;
    border-color: orange;
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
}

.buscador{
    top: 5%;
    left: 25%;
    position: fixed;
    z-index: 1000;
    border: solid 2px;
    border-color: orange;
    border-radius: 5px;
    background-color: white;
}

.icon{
    position: absolute;
    top: 20%;
    left: 19%;
    width: 60%;
    height: 60%;
    color: orange;
}

.input{
    height: 50px;
    border: solid 1px;
    border-color: orange;
    background-color: white;
}