


.tablilla{
    display: flex;
    flex-direction: column;
}

.boton{
    background-color: orange;
    color: white;
}

.barraLateral{
        position: fixed;
    z-index: 9999;
    left: 1%;
    top: 4%;
    width: 10%;
  }
  